.crmall__banner{
    padding-bottom: 7rem;
}

.crmall__banner-textos {
    max-width: 600px;
    color: #fff;
}

.crmall__banner-textos h1 {
    margin-top: 180px;
    font-family: var(--font-1);
    font-size: 32px;
    font-weight: 200;
}
.crmall__banner-textos strong{
    font-weight: 500;
}

.crmall__banner-textos p {
    max-width: 300px;
    font-family: var(--font-1);
    font-size: 18px;
    font-weight: 200;
    margin-top: 2rem;
}

.crmall__banner-textos button{
    height: 75px;
    width: 336px;
    margin-top: 2rem;
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 300;
    background-color: var(--color-azul-escuro);
    color: #fff;
    border: none;
}