.crmall__formatos{
    padding: 3rem 0;
    background-color: var(--color-azul-escuro);
    align-items: flex-start;
}

.crmall__formatos-components{
    display: flex;
    justify-content: space-around;
}

.crmall__formatos-titulo {
    display: flex;
    align-items: center;
}

.crmall__formatos-titulo_numero {
    border-radius: 100%;
    margin: 2rem 1rem 2rem 0rem;
    padding: .3rem .7rem; 
    background-color: var(--color-azul-claro);
    color:white;
    font-size: 22px;
    font-family: var(--font-1);
    font-weight: 400;
}

.crmall__formatos-titulo_texto{
    font-size: 18px;
    font-family: var(--font-1);
    font-weight: 400;
    color: white;
}