.crmall__simularCampanha-card1_form {
    display: block;
    padding: 0rem 3rem;
    width: 530px;
    height: 330px;
    margin: 10rem 3rem 15rem 20rem;
    box-shadow: 0 2px 14px 0px #00000022;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.crmall__simularCampanhas-card_form-inputs{
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
    align-items: center;
}

.crmall__radio {
    margin-right: .5rem;
    height: 25px;
    width: 25px;
    background-color: rgb(105, 43, 192);
    border-radius: 50%;
}

.crmall__simularCampanha-card1_form-button{
    padding: 1rem .5rem;
}

.crmall__simularCampanha-card1-titulo_label{
    display: flex;
}

.crmall__simularCampanhas-card1_form-radios{
    padding: 1rem 0 1rem 3rem;
}

.crmall__simularCampanha-card1_form-button.next {
    padding: .6rem 1.5rem;
    background-color: var(--color-azul-claro);
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    transition: opacity .6s;
}

.crmall__simularCampanha-card1_form-button.prev {
    padding: .6rem 1.5rem;
    margin-right: 1rem;
    background-color: #A3A3A3;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    transition: opacity .6s;
}

.crmall__simularCampanha-card1_form-button.next:hover ,
.crmall__simularCampanha-card1_form-button.prev:hover {
    opacity: 80%;
    transition: opacity .6s;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }

  .crmall__simularCampanha-steps {
    margin-top: 4rem;
    float: right;
  }
