.crmall__formulario {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.crmall__formulario-textos,
.crmall__formulario-form{
    background-color: var(--color-rosa-claro);
    margin: 4rem 1rem;
}

.crmall__formulario-textos {
    text-align: -webkit-center;
    padding: 2rem 2rem;
    width: 384px;
}

.crmall__formulario-textos h2 {
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-azul-escuro);
    padding-bottom: 2rem;
    width: 17vh;
}

.crmall__formulario-textos p {
    font-family: var(--font-1);
    font-size: 14px;
    font-weight:400;
    color: var(--color-azul-escuro);
    padding-top: 2rem;
}

.crmall__formulario-form {
    display: block;
    max-width: max-content;
    flex-wrap: wrap;
}

.crmall__formulario-form_titulo{
    background-color: var(--color-rosa-claro);
    padding: 2.3rem 3rem;
    height: 90px;
    width: 674px;
    font-weight: 500;
    font-size: 18px;
}

.crmall__formulario-form_inputs {
    background-color: white;
    padding: 2rem 3rem;
    height: 33em;
}

.crmall__formulario-form_inputs label{
    display: block;
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-azul-escuro);
}

.crmall__formulario-form_inputs-telefones{
    display: flex;
    justify-content: space-between;
}
.crmall__formulario-form_inputs-mid{
    padding: .6rem;
    margin: .5rem 0 1rem 0;
    font-family: var(--font-1);
    font-size: 15px;
    width: 28vh;
    background-color: #F5F5F5;
    border:none;
}
.crmall__formulario-form_inputs-full{
    width: 100%;
    background-color: #F5F5F5;
    padding: .6rem;
    margin: .5rem 0 1rem 0;
    border:none;
    font-family: var(--font-1);
    font-size: 15px;
}

.crmall__formulario-form_inputs-botao{
    height: 64px;
    width: 229px;
    background-color: var(--color-azul-escuro);
    color: white;
    font-size: 20px;
    font-family: var(--font-1);
    font-weight: 400; 
    cursor: pointer;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.crmall__formulario-form_inputs-container {
    
    justify-content: space-between;
    display: flex;
    padding: 2rem 0 0 0;
    text-align: -webkit-right;
}

.crmall__formulario-sub{
    padding: 8rem 0;
    background-color: white;
    text-align: center;
}

.crmall__formulario-sub h2{
    font-family: var(--font-1);
    font-size: 12px;
    font-weight: 500;
}