:root {
    --font-1: 'Roboto', sans-serif;
    --font-2: 'Helvetica', sans-serif;

    --color-azul-text: #03649A;
    --color-cinza-escuro: #383838;
    --color-azul-escuro: #103046;
    --color-azul-claro: #39BAFF;
    --color-rosa-claro:#CFDBFE;
    --color-pink: #5E03F0; 
}